body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

.max-width-container
{
    max-width: 1440px;
}

.padding
{
    padding: 0 10px;
}


/* MENU */
header
{
    margin: auto;
}

.container
{
    display: grid;
    grid-template-columns: 3fr repeat(2, auto);
    grid-template-areas: "logo lien inscription";
    align-items: center;
    font-weight: 500;
}

.lien
{
    grid-area: lien;
    display: flex;
    justify-content: center;
    align-items: center; 
}

a
{
    text-decoration: none;
    color: #0065FC;
    font-size: 16px;
}


@media screen and (min-width: 1099px)
{
    .logo 
    {
        grid-area: logo;
        grid-template-columns: 55% repeat(2, auto);
    }

    .lien1, .lien2
    {
        padding: 2.2em;
        border-top: 3px solid white;
    }

    .lien1
    {
        border-top: 3px solid #0065FC;
    }

    .lien2
    {
        color: gray;
    }

    .lien2:hover, .lien1:hover
    {
        border-top: 3px solid #0065FC;
        color: #0065FC;
        transition: 300ms;
    }   
}
/* ------------------------------------ */


/* Style bouton d'inscription */
.inscription
{
    grid-area: inscription;
    padding-left: 20px;
}

.btn
{
    padding: 10px 15px;
    transition: 0.3s;
}

.btn:hover
{
    background-color:#0065FC;
    color: white;
    border-radius: 999px;
}
/* ------------------------------------ */


/* ---- MENU RESPONSIVE ---- */
@media screen and (max-width: 1099px)
{
    .container
    {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 70px 70px;
        grid-template-areas:"logo inscription"
                            "lien lien";
    }

    .logo
    {
        margin-left: 20px;
    }

    .inscription
    {
        grid-column: 2;
        display: flex;
        justify-content: flex-end;
        margin-right: 25px;
    }

    .lien
    {
        display: flex;
        justify-content: space-around;
    }

    .lien1, .lien2
    {
        padding: 20px 2em;
        display: inline-block;
        width: 50%;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
    }

    .lien1:hover, .lien2:hover
    {
        border-bottom: 3px solid #0065FC;
        transition-duration: 400ms;
    }
}

section
{
    margin: auto;
}

section h2.titre-principal
{
    font-size: 1.8em;
}

/* --- Chant de Rechercher --- */
input[type=text]
{
    max-width: 20%;
    min-width: 230px;  
    border-radius: 5px 0 0 5px;
    border: 3px solid #F2F2F2;  
    border-right: none;  
    outline: none;
    margin: 8px 0;
    padding: 8px;   
    box-sizing: border-box; 
    height: 45px;
    padding-left: 50px;  
    font-size: 18px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

button
{
    position: absolute;
    top: 8px;
    height: 45px;
    width: 100px;
    border: none;
    background-color: #0065FC;
    font-size: 16px;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* icon de rechercher */
button i.fas
{
    display: none;
}

@media screen and (max-width: 800px)
{
    button
    {
        width: 50px;
    }

    button i.fas
    {
        display: inline-block;
        color: white;
        background-color: #0065FC;
        padding: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    button span#btn-rechercher
    {
        display: none;
    }
}

.input-icone
{
    position: relative;
}

.input-icone i
{
    position: absolute; 
    left: 0; 
    top: 8px; 
    padding: 14.5px 15px;
    border-radius: 5px 0 0 5px;
    background-color: #F2F2F2;
}
/* ------------------------------- */

/* ---- SECTION FILTRE ---- */
.titre-filtre
{
    font-size: 23px;
}

.filtre
{
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 25px;
}

.filtre div p
{
    display: inline;
    padding-left: 5px;
    font-weight: 700;
}

.filtre div
{
    border: 3px solid #F2F2F2;
    height: 50px;
    width: 160px;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 5px;
    transition: 300ms;
}

.filtre div:hover
{
    border: 3px solid #0065FC;
    color: #0065FC;
    transform: scale(1.05);
}

.filtre div.btn-animaux
{
    width: 210px;
}

.filtre div i
{
    padding: 16.7px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
}

/* ---- FILTRE RESPONSIVE ---- */
@media screen and (max-width: 600px)
{
    .filtre
    {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
    }

    .filtre div
    {
        margin-bottom: 10px;
    }
}

/* ------ INFO ------ */
.info i
{
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    padding: 7px 10px;
    font-size: 13px;
    color: #0065FC;
    margin-right: 10px;
}

/* ------ MAIN ----- */
main
{
    margin: 40px auto;
}

section.container-main
{
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-template-areas: "heberg" "popu";
    column-gap: 2.5em;
    border-radius: 20px;
}

.container-hebergement
{
    grid-area: heberg;
}

aside.container-popu
{
    grid-area: popu;
    grid-column: 2 / 3;
    grid-row: 1;
}

.container-hebergement {
    padding: 30px;
    background-color: #F2F2F2;
    border-radius: 20px;
    max-width: 850px;
}

.carte-hebergement {
    width: 250px;
    height: 200px;
    background-color: white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
    padding: 5px;
    transition: 300ms;
}

.carte-hebergement:hover
{
    transform: scale(1.05);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.40);
}

.carte-img {
    width: 250px;
}

.carte-img img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.container-carte {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.carte-text > *
{
    margin: 3px 5px;
    color: black;
}

.etoile
{
    margin: 3px 5px;
}

i.colorGray
{
    color: rgba(128, 128, 128, 0.397);
}

.lien-plus a
{
    color: black;
    font-weight: 500;
}

div.container-hebergement h2 {
    margin: 0 0 35px 0;
}

div.container-hebergement p.lien-plus {
    margin: 30px 0 0 0;
}

div.container-hebergement, aside.container-popu
{
    border-radius: 20px;
    background-color: #F2F2F2;
}

@media screen and (max-width: 1400px) {
    .container-carte {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .carte-hebergement {
        width: 300px;
        height: 200px;
    }
    .carte-img {
        width: 300px;
    }

    div.container-hebergement
    {
        background-color: white;
    }
} 

/* ---- ASIDE les plus populaire ---- */

.container-populaire
{
    max-width: 400px;
    height: auto;
    padding: 1em 2em;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.container-carte-flex
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carte-popu
{
    padding: 5px;
    display: flex;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 15px;
    height: 140px;
    max-width: 380px;
    transition: 300ms;
    cursor: pointer;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.18);
}

.carte-popu:hover
{
    transform: scale(1.05);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.40);
}

.carte-popu-img
{
    width: 200px;
}
.carte-popu-img img
{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.container-text
{
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 25px;
}

.container-text h2
{
    display: inline-block;
    margin: 0;
    font-weight: 700;
}

.carte-popu-text
{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.carte-popu-text h3, .carte-popu-text p
{
    margin: 0;
}

.container-text i
{
    font-size: 28px;
}

.carte-popu-stars
{
    color: #0065FC;
    display: inline-block;
    position: absolute;
    bottom: 15px;
}

.carte-img {
    width: 250px;
}

.carte-img img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}



/* MAIN Responsive GRID */
@media screen and (max-width: 1405px)
{
    section.container-main
    {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:"popu" 
                            "heberg";
        gap: 50px;
    }

    .container-carte-flex
    {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .container-populaire
    {
        max-width: 100%;
    }

    aside.container-popu
    {
        grid-area: popu;
        grid-column: 1;
    }

    .container-text
    {
        margin: 0 0 25px 0;
    }   

    .container-hebergement
    {
        max-width: 100%;
        background-color: white;
    }

    .carte-hebergement 
    {
       width: 340px;
       height: 200px;
    }

    .carte-img {
        width: 340px;
    }

}

@media screen and (max-width: 1090px)
{
    .container-carte-flex
    {
        display: flex;
        flex-direction: column;
        gap: 20px;  
    }
}

@media screen and (max-width: 600px)
{
    .container-populaire
    {
        padding: 5px;
    }

    .container-text
    {
        margin: 25px auto;
    }
}

/* ---- SECTION Activités à marseille ---- */
.bloc-activite {
    margin: 50px auto;
}

.container-activite {
    display: grid;
    grid-template-columns: repeat(4, 330px);
    grid-template-rows: repeat(2, 265px);
    grid-gap: 40px;
    justify-content: center;
}

.container-activite > * {
    background-color: rgba(255, 255, 255, 0.575);
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    transition: 300ms;
}

.container-activite > *:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.40);
}

.grand-1 {
    grid-row: 1 / 3;
}

.petit2 {
    grid-column: 2 / 3;
}

.petit3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.petit4 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.grand-2 {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

.text-activiter p
{
    text-align: center;
    margin: 4px;
}

.taille-g-img img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.taille-p-img img
{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* ---- RESPONSIVE Section Activités à Marseille ---- */
@media screen and (max-width: 1390px) {
    .container-activite {
        display: grid;
        grid-template-columns: repeat(2, 320px);
        grid-template-rows: repeat(4, 250px);
        grid-template-areas: "g-one p-one" "p-three p-two" "p-four g-two";
        justify-content: center;
    }

    section h2.titre-activiter
    {
        margin-left: 20px;
    }

    .grand-1 {
        grid-area: g-one;
        grid-row: 1 / 3;
    }
    .petit1 {
        grid-area: p-one;
        grid-row: 1 / 2;
    }
    .petit2 {
        grid-area: p-two;
    }
    .petit3 {
        grid-area: p-three;
        grid-row: 4 / 5;
    }
    .petit4 {
        grid-area: p-four;
    }
    .grand-2 {
        grid-area: g-two;
        grid-row: 3 / 5;
    }
}

@media screen and (max-width: 800px) {
    .container-activite {
        display: grid;
        grid-template-columns: repeat(1, 370px);
        grid-template-rows: repeat(6, 210px);
        grid-template-areas: "g-one" "p-one" "p-two" "p-three" "p-four" "g-two";
        justify-content: center;
    }
    .grand-1 {
        grid-area: g-one;
    }
    .petit1 {
        grid-area: p-one;
    }
    .petit2 {
        grid-area: p-two;
    }
    .petit3 {
        grid-area: p-three;
    }
    .petit4 {
        grid-area: p-four;
    }
    .grand-2 {
        grid-area: g-two;
    }
    .taille-g-img img {
        width: 100%;
        height: 80%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
}


/* ----- FOOTER ----- */
footer 
{
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 50px;
}

.bloc-flex 
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.liste 
{
    width: 250px;
    padding: 20px 0;
}

.text-liste ul 
{
    list-style: none;
    font-weight: normal;
    padding: 0;
}

.text-liste ul a 
{
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.text-liste ul li a:hover 
{
    text-decoration: underline;
}